@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --card: 0 0% 96%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --primary: 154 40% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 11% 45%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 16% 93%;
    --muted-foreground: 210 11% 45%;
    --accent: 154 39% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 70% 53%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 14% 89%;
    --input: 210 14% 89%;
    --ring: 154 40% 30%;
  }

  .dark {
    --background: 0 0% 15%;
    --foreground: 0 0% 98%;
    --card: 0 0% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 154 40% 30%;
    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 98%;
    --destructive: 354 70% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 27%;
    --input: 0 0% 27%;
    --ring: 0 0% 44%;
  }
}

